.cart_item {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #c60e5a;
}

.cart_item__price {
  display: flex;
  align-items: center;
  text-align: left;
}

.cart_item__deleteIcon {
  margin-left: 5px;
  cursor: pointer;
}